<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Gregoire Lejeune</string>
	<key>Builder Version</key>
	<string>7534.51.22</string>
	<key>CFBundleDisplayName</key>
	<string>RssTodoList</string>
	<key>CFBundleIdentifier</key>
	<string>net.algorithmique.rsstodolist</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<real>1048576</real>
		<key>Global Page</key>
		<string>rss.html</string>
		<key>Popovers</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>rss.html</string>
				<key>Height</key>
				<real>110</real>
				<key>Identifier</key>
				<string>poRssTodoList</string>
				<key>Width</key>
				<real>370</real>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>tbRssTodoList</string>
				<key>Image</key>
				<string>icon.png</string>
				<key>Label</key>
				<string>RssTodoList</string>
				<key>Popover</key>
				<string>poRssTodoList</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict/>
	</dict>
	<key>Description</key>
	<string>Extension for RssTodoList</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>http://rsstodolist.appspot.com/</string>
</dict>
</plist>
